
@{
    ViewBag.Title = "ManufacturerView";
}

<h2>ManufacturerView</h2>
<a href="@Url.Action("Index", "Home/Index")" class="elements">
    <span>Home</span>
</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Manufacturer
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in ViewBag.Manufacturers)
        {
            <tr>
                <td>
                    @manufacturer.ManufacturerId
                </td>
                <td>
                    @manufacturer.ManufacturerName
                </td>
            </tr>
        }
    </tbody>
</table>