@model IEnumerable<BLL.DTO.ManufacturerDTO>

@{ 
    var options = new AjaxOptions
    {
        UpdateTargetId = "result",
        HttpMethod = "Delete"
    };
    var options2 = new AjaxOptions
    {
        UpdateTargetId = "result",
    };
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Manufacturer
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    Remove
                </th>
                <th>
                    Edit
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model)
        {
        <tr>
            <td>
                @manufacturer.ManufacturerId
            </td>
            <td>
                @manufacturer.ManufacturerName
            </td>@if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Ajax.ActionLink("DELETE", "DELETE", new { @id = manufacturer.ManufacturerId }, options, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "ManufacturerEdit", new { @id = manufacturer.ManufacturerId }, options2, new { @class = "btn btn-success" })
                </td>}
            </tr>
        }
    </tbody>
</table>
