
@{
    ViewBag.Title = "ManufacturerView";
}

<h2>ManufacturerView</h2>
<div>
    <a href="@Url.Action("Index", "Home/Index")" class="elements">
        <span>Home</span>
    </a>
    @if (ViewBag.PageCount > 1)
    {
        for (int i = 0; i < ViewBag.PageCount; i++)
        {
            @Html.ActionLink($"{i + 1}", "ManufacturerView", new { @id = i + 1 }, new { @class = "btn btn-success" })
        }
    }
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Manufacturer
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in ViewBag.Manufacturers)
        {
            <tr>
                <td>
                    @manufacturer.ManufacturerId
                </td>
                <td>
                    @manufacturer.ManufacturerName
                </td>
            </tr>
        }
    </tbody>
</table>