
@{
    ViewBag.Title = "CategoryView";
}

<h2>CategoryView</h2>
<div>
    <a href="@Url.Action("Index", "Home/Index")" class="elements">
        <span>Home</span>
    </a>
    @if(ViewBag.PageCount > 1) { 
        for (int i = 0; i < ViewBag.PageCount; i++)
        {
        @Html.ActionLink($"{i + 1}","CategoryView", new {@id = ++i }, new {@class = "btn btn-success" })
        }
    }
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Category
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.Categories)
        {
            <tr>
                <td>
                    @category.CategoryId
                </td>
                <td>
                    @category.CategoryName
                </td>
            </tr>
        }
    </tbody>
</table>