
@{
    ViewBag.Title = "CategoryView";
}

<h2>CategoryView</h2>
<a href="@Url.Action("Index", "Home/Index")" class="elements">
    <span>Home</span>
</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Category
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.Categories)
        {
            <tr>
                <td>
                    @category.CategoryId
                </td>
                <td>
                    @category.CategoryName
                </td>
            </tr>
        }
    </tbody>
</table>